<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= body.firstname %></title>
    <!-- custom css file -->
    <link rel="stylesheet" href="stylesheet/viewStyle.css">
  </head>